<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="default_traces" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>
		<switches>
			<add name="SignalRSwitch" value="All" />
		</switches>
		<sources>
			<source name="Application" switchValue="All">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>

			<source name="Microsoft.Owin.Host.SystemWeb" switchValue="All">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>

			<source name="SignalR.Connection">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.PersistentConnection">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.HubDispatcher">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.Transports.WebSocketTransport">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ServerSentEventsTransport">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ForeverFrameTransport">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
			<source name="SignalR.Transports.LongPollingTransport">
				<listeners>
					<add name="traces" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="traces" type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>
	</system.diagnostics>
</configuration>